*{
  margin: 0;
  padding: 0;
  width: 100%;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}
body{
  margin: 0;
  background-color: azure;
}
.navbar{
  width: 100%;
  color: white;
  margin: 0 auto;
  background-color: #003580;
  display: flex;
  justify-content: space-around;
  gap: 2rem; 
  padding: 0 1rem; 
  align-items: center;
}
.navbar ul{
  display: flex;
}
.companyname{
  width: 70%;
  font-size: 40px;
  font-weight: 700;
}
a{
  text-decoration: none;
  color: white;
}
ul{
  list-style: none;
}
.buttons{
  font-weight: bold;
  border-radius: 10px;
  width: 60%;
  height: 30px;
  cursor: pointer;
}
.cursor{
  
  text-decoration: #003580;
}
.filter{
  padding: 10px 20px;
  background-color: #003580;  
}
.introtext{
  color: white;
}
.search{
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
}
.searchbar{
  width: 40%;
}
.searchbutton{
  width: 70px;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px;
  color: #ff8000;
}
.registerform {
  display: flex;
  flex-direction: column;
}
.titles{
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #003580;
}
.forms{
 margin: auto;
 width: 38%;
}
input {
  height: 2rem;
  padding: 0.5rem;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 2rem;
}
.proceed{
  text-align: center;
  width: 35%;
}

button:hover {
  background-color: #c5c5c5;
}
.message {
  font-size: 1.2em;
  text-align: center;
  color: #36a936;
}
#listings{
  width: 100%;
}
fieldset{
  padding: 15px;
  border: 15px solid #003580;
  border-radius: 25px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.listing-container{
  display: flex;
  justify-content: space-between;
}
.listing{
  width: 23%;
  
}
legend{
  background-color: white;
  color: #3daeff;
  width: fit-content;
  font-size: 30px;
  font-weight: 700px;
}
.reservebutton{
  background-color: #003580;
  color: white;
  font-size: medium;
  border-radius: 5px;
  width: 50%;
  cursor: pointer;
}
.footerwrapper{
  margin-top: 30px;
  background-color: #003580;
}
.trademark{
  text-align: center;
  color: white;
  font-size: medium;
}
.socials p{
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #ff8000;
}

.socials ul {
  color: white;
  display: flex;
  list-style: none;
  text-align: center;

}
.tagtext{
  font-size: 1.8rem;
  line-height: 2rem;
}

@media screen and (max-width: 647px){
  .welcome{
      font-size: 20px;
  }

}
